<!-- Navbar -->
 <nav>
    <div class="nav-wrapper  indigo lighten-1">
      
      <ul id="nav-mobile" class="left">
        <li><a href="<%= root_path %>"><img class="home-logo" src="http://i.imgur.com/HlHXu1l.png"></a></li>
        <li> <%= link_to "Home/Logo", root_path %> </li>
        <li> <%= link_to "About", about_path %> </li>
        <li> <%= link_to "Contact", contact_path %> </li>
      </ul>
      <ul class="right">
        <% unless user_signed_in? %>
          <li> <%= link_to "Sign In", new_user_session_path%> </li>
          <li> <%= link_to "Sign Up", new_user_registration_path%> </li>
        <% else %>
          <li> <%= link_to "Edit Profile", edit_user_registration_path%> </li>
          <li> <%= link_to "Sign Out", destroy_user_session_path , method: "delete"%> </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <nav style="height: 50px;">
    <div class="nav-wrapper deep-purple darken-4">
      
      <ul id="nav-mobile" class="right">
      <%= form_tag search_businesses_path, method: :get do |f| %>
                 <li class="second-nav"><%= text_field_tag :search, nil, class: "search-nav text-search", placeholder: "search" %></li>
                 <li class="second-nav"><%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}),include_blank: "All", class: "browser-default blue-grey search-nav cat-search" %></li>
                 <li class="second-nav"><%= submit_tag "Search", class: "btn indigo accent-1 search-nav search-btn" %> </li>
                   <% end %>
      </ul>

    </div>
  </nav>




