<!DOCTYPE html>
<html>
  <head>
    <title>Squarefare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=BioRhyme|Ubuntu" rel="stylesheet">
    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="/assets/application.css">
    <link rel="stylesheet" type="text/css" href="/assets/sign_in.css">
    <link rel="stylesheet" type="text/css" href="/assets/business.css">

  </head>

  <body>

      
  	<%= render 'layouts/header' %>

    <!-- Flash messages for login -->
    <div>
    <% flash.each do |key, value| %>
      <div class="login-message alert alert-<%= key %>">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <ul>
          <li>
            <%= value %>
          </li>
        </ul>
      </div>
    </div>
    <% end %>

    <%= yield %>

    <!-- %= render 'layouts/footer' % -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <!-- Raty -->
    <!-- <script>
      $('.star-rating').raty({
        path: '/assets',
        readOnly: true,
        score: function () {
          return $(this).attr('data-score');
        }
      });
    </script> -->
    
  </body>
</html>
