
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="box-container">
        <div class="new_business">

<img src="http://i.imgur.com/i3tC6qm.png">
<p class='center logo-text'>Decatur's Food and Drink Guide</p>
        </div>
      </div>
    </div>
  </div>
</div>


<% if user_signed_in? && current_user.admin? %>
	<div class="add-business-btn">
	<%= link_to "Add a Business", new_business_path, class: "waves-effect waves-light btn btn-large indigo accent-1 add-business-btn" %>
	</div>
<% end %>
<br>
<br>
<div class="flexwrapper">
<% @businesses.each do |business| %>
<!-- new code -->
      <div class="row outerflex">
        <div class="col l6 m12 s12">
          <div class="card">
            <div class="card-image">
              <img src=" <%= business.img_url %> ">
              <span class="card-title business-name-show"> <%= business.name %> </span>
            </div>
            <div class="card-content">
              <p> <%= business.description %> </p>
            </div>
            <div class="card-action">
              <a> <%= link_to "More Info", business_path(business.id) %> </a>
            </div>
          </div>
        </div>
      <% end %>
	 
</div>
</div>

